<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تغییر گذرواژه</title>
    <link rel="stylesheet" href="{% static "password.css" %}">
</head>
<body>
    
    <div class="mainDiv">
        <div class="cardStyle">
          <form action="" method="post" name="signupForm" id="signupForm">
            {% csrf_token %}
            <img src="" id="signupLogo"/>
            
            <h2 class="formTitle">
              تغییر گذرواژه
            </h2>
            
          <div class="inputDiv">
            <label class="inputLabel" for="password"> گذرواژه جدید</label>
            <input type="password" id="password" name="password1" required>
          </div>
            
          <div class="inputDiv">
            <label class="inputLabel" for="confirmPassword">تکرار گذرواژه</label>
            <input type="password" id="confirmPassword" name="password2">
          </div>
          
          <div class="buttonWrapper">
            <button type="submit" id="submitButton" class="submitButton pure-button pure-button-primary">
              <span>ادامه</span>
            </button>
          </div>
            
        </form>
        </div>
      </div>
<script src="{% static "password.js" %}"></script>
</body>
</html>