{% extends "base.html" %}
{% load static %}
{% block title %}
  سوالات متداول 
{% endblock title %}

{% block content %}
<div class="bg-[url('{% static "assets/images/ber.jpg" %}')] bg-no-repeat h-40 md:h-64 relative">
  <div class="flex justify-center">
      <div class="text-sm absolute top-1/4 md:top-1/2">
          <h2 class="text-3xl font-YekanBakh-ExtraBlack my-4">سوالات متداول</h2>
          <div class="breadcrumbs flex justify-center">
              <ul class="">
                <li><a>خانه</a></li> 
                <li>سوالات متداول</li>
              </ul>
          </div>
        </div>
  </div>
</div>

</section>

<section class="mb-20 px-4">
<div class="container mx-auto max-w-screen-xl">
  <div class="collapse collapse-plus bg-base-200 my-4">
    <input type="radio" name="my-accordion-3" checked="checked" /> 
    <div class="collapse-title text-base font-YekanBakh-ExtraBold">
      فرم ها را چگونه می توانم دانلود کنم؟
    </div>
    <div class="collapse-content"> 
      <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
    </div>
  </div>
  <div class="collapse collapse-plus bg-base-200 my-4">
    <input type="radio" name="my-accordion-3" checked="checked" /> 
    <div class="collapse-title text-base font-YekanBakh-ExtraBold">
      آیا پس از عضویت نیاز به تایید ایمیل است؟
    </div>
    <div class="collapse-content"> 
      <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
    </div>
  </div>
  <div class="collapse collapse-plus bg-base-200 my-4">
    <input type="radio" name="my-accordion-3" checked="checked" /> 
    <div class="collapse-title text-base font-YekanBakh-ExtraBold">
      چگونه اکانت خود را بازیابی کنیم؟
    </div>
    <div class="collapse-content"> 
      <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
    </div>
  </div>
  <div class="collapse collapse-plus bg-base-200 my-4">
    <input type="radio" name="my-accordion-3" checked="checked" /> 
    <div class="collapse-title text-base font-YekanBakh-ExtraBold">
    آیا برای سفارش خدمات تماس بگیریم؟
    </div>
    <div class="collapse-content"> 
      <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
    </div>
  </div>
  <div class="collapse collapse-plus bg-base-200 my-4">
    <input type="radio" name="my-accordion-3" checked="checked" /> 
    <div class="collapse-title text-base font-YekanBakh-ExtraBold">
    چگونه مشاوره رایگان دریافت کنیم؟
    </div>
    <div class="collapse-content"> 
      <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
    </div>
  </div>
  
</div>
</section>
{% endblock content %}