{% extends "base.html" %}
{% load static %}

{% block title %}جزئیات مقاله: {{ post }}{% endblock title %}

{% block content %}
<div class="bg-[url('/assets/images/ber.jpg')] bg-no-repeat h-40 md:h-64 relative">
    <div class="flex justify-center">
        <div class="text-sm absolute top-1/4 md:top-1/2 text-center">
            <h2 class="text-3xl font-YekanBakh-ExtraBlack my-4">جزئیات وبلاگ</h2>
            <div class="breadcrumbs flex justify-center">
                <ul>
                    <li><a href="/">خانه</a></li>
                    <li>جزئیات وبلاگ</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<section class="mb-20 px-4">
    <div class="container mx-auto max-w-screen-xl">
        <div class="grid grid-cols-12 gap-4">
            <aside class="col-span-12 md:col-span-3 order-2 md:order-1">
                <div class="bg-white p-4 rounded-2xl mb-4">
                    <div class="border-r-4 bg-slate-100 border-yellow-400 mb-4 rounded-2xl p-4">
                        <h3 class="font-YekanBakh-Bold text-slate-800 text-base">پربازدیدترین ها</h3>
                    </div>
                    <div class="flex items-center my-4">
                        <div class="w-16 rounded-full overflow-hidden">
                            <img src="{% static 'assets/images/blog-2.jpg' %}" alt="پربازدیدترین مقاله">
                        </div>
                        <div class="mr-2">
                            <h3 class="font-YekanBakh-Bold text-slate-800 text-sm">جذاب ترین ایده دکوراسیون</h3>
                            <p>لورم ایپسوم متن ساختگی</p>
                        </div>
                    </div>
                </div>
            </aside>

            <main class="col-span-12 md:col-span-9 order-1 md:order-2">
                <div class="bg-white p-4 rounded-2xl leading-8">
                    <div class="border-r-4 bg-slate-100 border-yellow-400 mb-4 rounded-2xl p-4">
                        <h1 class="mb-2 text-base font-YekanBakh-Bold">{{ post.title }}</h1>
                        <div class="flex items-center gap-4 text-xs">
                            <span class="flex items-center gap-1">
                                <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                                </svg>
                                {{ post.created_time }}
                            </span>
                            <span class="flex items-center gap-1">
                                <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.75V12A2.25 2.25 0 014.5 9.75h15A2.25 2.25 0 0121.75 12v.75" />
                                </svg>
                                {{ post.categories }}
                            </span>
                        </div>
                    </div>
                    <img class="rounded-2xl w-full" src="{{ post.image.url }}" alt="{{ post.title }}">
                    <p class="mt-4">{{ post.content }}</p>

                    <form method="post" class="mt-4">
                        {% csrf_token %}
                        
                        <textarea class="textarea textarea-bordered w-full h-36 rounded-2xl" placeholder="نظر خود را بنویسید..." name="content"></textarea>
                        <button class="btn btn-primary rounded-2xl mt-2">ارسال پیام</button>
                    </form>
                    <br>
                    
                    {% for msg in messages %}
                        <p class="alert alert-success">{{ msg }}</p>
                    {% endfor %}
                    <br>
                    <hr>
                    {% for comment in comments %}
                        <div class="mt-4 border-t pt-2">
                            <h3 class="font-bold">{{ comment.author }}</h3>
                            <p>{{ comment.content }}</p>
                        </div>
                    {% endfor %}
                </div>
            </main>
        </div>
    </div>
</section>
{% endblock content %}
